@media (min-width: 1025px) {
    .best-offers .container .about-us__swiper .swiper-wrapper .swiper-slide:last-child {
        display: none;
    }

    .reviews .container .reviews-swiper {
        .swiper-slide {
            transform: scale(.9);
            transition: .3s;
        }

        .swiper-slide-active {
            transform: scale(1);
        }
    }
}
