@media screen and (max-width: 1179px) {
    .search-bar {
        padding: 10px 20px;
        .filters {
            .search-bar-filter {
                padding: 10px 15px;
            }
        }
    }

    .about-us {
        .container-fluid {
            .content {
                padding: 60px 40px;
            }
        }
    }
}
