@media screen and (max-width: 1024px) {
    .customers-table {
        .desktop-table {
            display: none;
        }
        .mobile-table {
            display: block;
        }
    }
    .page {
        padding: 0 15px;
    }
}


