@media screen and (max-width: 767px) {
    .side-bar {
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .page-title {
        padding: 0 20px;
    }

    header {
        display: flex;
    }

    .customers-table .search-field {
        flex-direction: column;
        gap: 10px;

        .search-field__txt {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .search-icon {
            display: none;
        }
    }

    .pagination {
        justify-content: center;

        .pagination__info {
            display: none;
        }
    }
}
