@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.hidden {
  overflow: hidden;
}

.home {
  display: flex;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: center;
  background: #f7f9fd;
}

.page-title {
  width: 100%;
  max-width: 968px;
  margin-top: 41px;
  font-size: 24px;
}

.side-bar {
  background: #fff;
  width: 100%;
  max-width: 306px;
  height: 100vh;
  padding: 36px 28px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}
.side-bar .logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
.side-bar .logo p {
  font-size: 26px;
  font-weight: 600;
}
.side-bar .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.side-bar .list .list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 14px;
  color: #9197B3;
  cursor: pointer;
  padding: 11px;
  border-radius: 8px;
  transition: 0.2s;
  position: relative;
}
.side-bar .list .list__item:hover {
  background: #5932EA;
  color: #fff;
}
.side-bar .list .list__item:hover svg path {
  stroke: #fff;
}
.side-bar .list .list__item::after {
  content: "";
  position: absolute;
  right: 8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("assets/img/chevron-right.svg") center/contain no-repeat;
}
.side-bar .user {
  display: flex;
  gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 76px;
}
.side-bar .user img {
  width: 42px;
  height: 42px;
}
.side-bar .user div {
  display: flex;
  flex-direction: column;
}
.side-bar .user div p {
  font-size: 14px;
  font-weight: 300;
}
.side-bar .user div span {
  font-size: 12px;
  color: #757575;
}

.customers-table {
  padding: 30px 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 968px;
  background: #fff;
  border-radius: 30px;
}
.customers-table .search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.customers-table .search-field .search-field__txt {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.customers-table .search-field .search-field__txt p {
  font-size: 22px;
  font-weight: 600;
}
.customers-table .search-field .search-field__txt span {
  font-size: 14px;
  color: #16C098;
}
.customers-table .search-field .search-field__input {
  border: 0;
  padding: 10px 40px;
  height: fit-content;
  font-size: 12px;
  background: #F9FBFF;
  border-radius: 10px;
}
.customers-table .search-field .search-field__input::placeholder {
  opacity: 1;
  color: #B5B7C0;
}
.customers-table .search-field .search-field__input:focus {
  outline: none;
}
.customers-table .search-field .search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 190px;
}
.customers-table .desktop-table {
  border-collapse: collapse;
}
.customers-table .desktop-table * {
  font-size: 14px;
}
.customers-table .desktop-table th {
  text-align: start;
}
.customers-table .desktop-table tr {
  border-bottom: 1px solid #EEEEEE;
}
.customers-table .desktop-table thead th {
  color: #B5B7C0;
  font-weight: 300;
  padding: 14px 0;
}
.customers-table .desktop-table thead th:last-child {
  text-align: -webkit-center;
}
.customers-table .desktop-table tbody th {
  font-weight: normal;
  padding: 20px 0;
  color: #292D32;
}
.customers-table .desktop-table tbody th:last-child {
  text-align: -webkit-right;
}
.customers-table .active {
  padding: 4px 18px;
  color: #008767;
  border: 1px solid #00B087;
  background: rgba(22, 192, 152, 0.3803921569);
  border-radius: 4px;
  width: 80px;
}
.customers-table .inactive {
  padding: 4px 12px;
  color: #DF0404;
  border: 1px solid #DF0404;
  background: #FFC5C5;
  border-radius: 4px;
  width: 80px;
}
.customers-table .mobile-table {
  display: none;
}
.customers-table .mobile-table .mobile-table__cards-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.customers-table .mobile-table .mobile-table__cards-row .mobile-table__card {
  padding: 20px;
  width: 100%;
  border: 1px solid #e6e4e4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.customers-table .mobile-table .mobile-table__cards-row .mobile-table__card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers-table .mobile-table .mobile-table__cards-row .mobile-table__card .card-info h5 {
  font-weight: 700;
  color: #3f3f3f;
  font-size: 16px;
}
.customers-table .mobile-table .mobile-table__cards-row .mobile-table__card .card-info p {
  font-weight: 300;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination__info {
  font-size: 14px;
  font-weight: 300;
  color: #B5B7C0;
}
.pagination .pagination__btn-row {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pagination .pagination__btn-row .exact-page-btn, .pagination .pagination__btn-row .previous-btn, .pagination .pagination__btn-row .next-btn {
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EEEEEE;
  background: #F5F5F5;
  color: #404B52;
  border-radius: 4px;
  font-size: 12px;
}
.pagination .pagination__btn-row .exact-page-btn:hover, .pagination .pagination__btn-row .previous-btn:hover, .pagination .pagination__btn-row .next-btn:hover {
  background: #5932EA;
}
.pagination .pagination__btn-row .exact-page-btn:active, .pagination .pagination__btn-row .previous-btn:active, .pagination .pagination__btn-row .next-btn:active {
  background: #5932EA;
  border: none;
}

header {
  display: none;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
header .logo p {
  font-size: 26px;
  font-weight: 600;
}
header .burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
header .burger__menu {
  background: #fff;
  height: calc(100vh - 90px);
  position: absolute;
  top: 90px;
  right: 0;
  width: 250px;
  z-index: 100;
  transition: 0.3s;
  padding-top: 20px;
  transform: translateX(300px);
}
header .burger__menu.show {
  transform: translateX(0);
}
header .burger__menu .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .burger__menu .list .list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 14px;
  color: #9197B3;
  cursor: pointer;
  padding: 11px;
  transition: 0.2s;
  position: relative;
}
header .burger__menu .list .list__item:hover {
  background: #5932EA;
  color: #fff;
}
header .burger__menu .list .list__item:hover svg path {
  stroke: #fff;
}
header .user {
  display: flex;
  gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 35px;
  right: 50px;
}
header .user img {
  width: 42px;
  height: 42px;
}
header .user div {
  display: flex;
  flex-direction: column;
}
header .user div p {
  font-size: 14px;
  font-weight: 300;
}
header .user div span {
  font-size: 12px;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .customers-table {
    padding: 30px 20px;
  }
  .side-bar {
    padding: 32px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .customers-table .desktop-table {
    display: none;
  }
  .customers-table .mobile-table {
    display: block;
  }
  .page {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .side-bar {
    display: none;
  }
  .home {
    flex-direction: column;
  }
  .page-title {
    padding: 0 20px;
  }
  header {
    display: flex;
  }
  .customers-table .search-field {
    flex-direction: column;
    gap: 10px;
  }
  .customers-table .search-field .search-field__txt {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .customers-table .search-field .search-icon {
    display: none;
  }
  .pagination {
    justify-content: center;
  }
  .pagination .pagination__info {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
