//fonts//
$font-primary: "Poppins";
$font-size: 16px;

//colors//
$primary-color: #B8F088;
$secondary-color: #23584C;
$black-color: #171717;
$white-color: #F8F8F8;
$light-grey-color: #F2F2F2;
$secondary-bg-color: #F7F9F4;
$form-color: #888787;

$border-radius: 40px;