<div class="customers-table">
    <div class="search-field">
        <div class="search-field__txt">
            <p>All Customers</p>
            <span>Active Members</span>
        </div>
        <input type="text" placeholder="Search" class="search-field__input">
        <img src="assets/img/search-icon.svg" alt="search" class="search-icon">
    </div>
    <table class="desktop-table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Company</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Country</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Jane Cooper</th>
                <th>Microsoft</th>
                <th>(225) 555-0118</th>
                <th>jane@microsoft.com</th>
                <th>United States</th>
                <th><div class="active">Active</div></th>
            </tr>
            <tr>
                <th>Floyd Miles</th>
                <th>Yahoo</th>
                <th>(205) 555-0100</th>
                <th>floyd@yahoo.com</th>
                <th>Kiribati</th>
                <th><div class="inactive">Inactive</div></th>
            </tr>
            <tr>
                <th>Ronald Richards</th>
                <th>Adobe</th>
                <th>(302) 555-0107</th>
                <th>ronald@adobe.com</th>
                <th>Israel</th>
                <th><div class="inactive">Inactive</div></th>
            </tr>
            <tr>
                <th>Marvin McKinney</th>
                <th>Tesla</th>
                <th>(252) 555-0126</th>
                <th>marvin@tesla.com</th>
                <th>Iran</th>
                <th><div class="active">Active</div></th>
            </tr>
            <tr>
                <th>Jerome Bell</th>
                <th>Google</th>
                <th>(629) 555-0129</th>
                <th>jerome@google.com</th>
                <th>Réunion</th>
                <th><div class="active">Active</div></th>
            </tr>
            <tr>
                <th>Kathryn Murphy</th>
                <th>Microsoft</th>
                <th>(406) 555-0120</th>
                <th>kathryn@microsoft.com</th>
                <th>Curaçao</th>
                <th><div class="active">Active</div></th>
            </tr>
            <tr>
                <th>Jacob Jones</th>
                <th>Yahoo</th>
                <th>(208) 555-0112</th>
                <th>jacob@yahoo.com</th>
                <th>Brazil</th>
                <th><div class="active">Active</div></th>
            </tr>
            <tr>
                <th>Kristin Watson</th>
                <th>Facebook</th>
                <th>(704) 555-0127</th>
                <th>kristin@facebook.com</th>
                <th>Åland Islands</th>
                <th><div class="inactive">Inactive</div></th>
            </tr>
        </tbody>
    </table>
    <div class="mobile-table">
        <div class="mobile-table__cards-row">
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Jane Cooper</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Microsoft</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(225) 555-0118</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>jane@microsoft.com	</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>United States</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="active">Active</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Floyd Miles</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Yahoo</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(205) 555-0100</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>floyd@yahoo.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Kiribati</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="inactive">Inactive</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Ronald Richards</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Adobe</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(302) 555-0107</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>ronald@adobe.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Israel</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="inactive">Inactive</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Marvin McKinney</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Tesla</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(252) 555-0126</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>marvin@tesla.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Iran</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="active">Active</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Jerome Bell</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Google</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(629) 555-0129</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>jerome@google.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Réunion</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="active">Active</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Kathryn Murphy</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Microsoft</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(406) 555-0120</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>kathryn@microsoft.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Curaçao</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="active">Active</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Jacob Jones</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Yahoo</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(208) 555-0112</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>jacob@yahoo.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Brazil</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="active">Active</div>
                </div>
            </div>
            <div class="mobile-table__card">
                <div class="card-info">
                    <h5>Customer Name:</h5>
                    <p>Kristin Watson</p>
                </div>
                <div class="card-info">
                    <h5>Company:</h5>
                    <p>Facebook</p>
                </div>
                <div class="card-info">
                    <h5>Phone Number:</h5>
                    <p>(704) 555-0127</p>
                </div>
                <div class="card-info">
                    <h5>Email:</h5>
                    <p>kristin@facebook.com</p>
                </div>
                <div class="card-info">
                    <h5>Country:</h5>
                    <p>Åland Islands</p>
                </div>
                <div class="card-info">
                    <h5>Status:</h5>
                    <div class="inactive">Inactive</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="pagination__info">Showing data 1 to 8 of  256K entries</div>
        <div class="pagination__btn-row">
            <button class="previous-btn">
                <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.936 6.392L0.176 3.668L2.936 0.944H4.664L1.892 3.668L4.664 6.392H2.936Z" fill="#404B52"/>
                </svg>
            </button>
            <button class="exact-page-btn">1</button>
            <button class="exact-page-btn">2</button>
            <button class="exact-page-btn">3</button>
            <button class="exact-page-btn">4</button>
            ...
            <button class="exact-page-btn">40</button>
            <button class="next-btn">
                <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.344 0.944H2.072L4.832 3.668L2.072 6.392H0.344L3.116 3.668L0.344 0.944Z" fill="#404B52"/>
                </svg>                    
            </button>
        </div>
    </div>
</div>